@use '../abstracts/variables' as v;
@use '../abstracts/breakpoints' as bp;
@use '../abstracts/mixins' as mx;
@use '../abstracts/placeholders';

$blockquote-text: #dfdfdf;

@for $i from 1 through 5 {
  h#{$i} {
    @extend %heading;

    @if $i > 1 {
      @extend %anchor;
    }

    @if $i < 5 {
      $size-factor: 0.25rem;

      @if $i > 1 {
        $size-factor: 0.18rem;

        main & {
          @if $i == 2 {
            margin: 2.5rem 0 1.25rem;
          } @else {
            margin: 2rem 0 1rem;
          }
        }
      }

      & {
        font-size: 1rem + (5 - $i) * $size-factor;
      }
    } @else {
      font-size: 1.05rem;
    }
  }
}

a {
  @extend %link-color;

  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  transition: all 0.35s ease-in-out;

  .blur & {
    $blur: 20px;

    -webkit-filter: blur($blur);
    filter: blur($blur);
  }
}

blockquote {
  background-color: rgba(19, 19, 21, 0.7);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  position: relative;
  margin: 0.5rem 0 1rem 0;
  color: $blockquote-text; // Light text color

  // Left border "accent" - default blue
  border-left: 4px solid #58a6ff;

  // Default scripture styling - first paragraph as the scripture reference title
  & > p:first-child {
    position: relative;
    margin: 0 0 0.5rem 0;
    padding: 0 0 0 1.5rem;
    font-weight: bold;
    color: #58a6ff; // default blue
    border-radius: 0.05rem;

    // Quotation icon positioned next to title
    &::before {
      content: "â";
      position: absolute;
      top: 0;
      left: 0;
      font-size: 1.5rem;
      color: #9c9c9c;
    }
  }

  // Remaining content aligned with icon
  & > p:not(:first-child),
  & > *:not(:first-child) {
    margin-top: 0.5rem;
    // font-size: 0.95rem;
    line-height: 1.6;
  }

  // Remove bottom margin from last element
  & > *:last-child {
    margin-bottom: 0;
  }

  // Override for regular quotes
  &.quote {
    & > p {
      margin-top: 0.5rem;
      // font-size: 0.99rem;
      line-height: 1.5;
      position: static;
      padding: 0;
      font-weight: normal;
      color: $blockquote-text;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        display: none;
      }
    }
  }

  // Color variants
  &.green {
    border-left-color: #3fb950;
  }

  &.red {
    border-left-color: #f85149;
  }

  &.orange {
    border-left-color: #d29922;
  }

  &.purple {
    border-left-color: #a5a5ff;
  }

  &.yellow {
    border-left-color: #f9e71e;
  }

  &.pink {
    border-left-color: #ff7eb6;
  }

  &.cyan {
    border-left-color: #76e3ea;
  }

  &.gray {
    border-left-color: #b1bac4;
  }

  // Citation (author + title)
  cite {
    display: block;
    font-weight: 600;
    color: $blockquote-text;

    em {
      font-style: italic;
      color: $blockquote-text;
    }
  }
}


kbd {
  font-family: Lato, sans-serif;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.3rem;
  min-width: 1.75rem;
  text-align: center;
  margin: 0 0.3rem;
  padding-top: 0.1rem;
  color: var(--kbd-text-color);
  background-color: var(--kbd-bg-color);
  border-radius: v.$radius-sm;
  border: solid 1px var(--kbd-wrap-color);
  box-shadow: inset 0 -2px 0 var(--kbd-wrap-color);
}

hr {
  border-color: var(--main-border-color);
  opacity: 1;
}

footer {
  background-color: var(--main-bg);
  height: v.$footer-height;
  border-top: 1px solid var(--main-border-color);

  @extend %text-xs;

  a {
    @extend %text-highlight;

    &:hover {
      @extend %link-hover;
    }
  }

  em {
    @extend %text-highlight;
  }

  p {
    text-align: center;
    margin-bottom: 0;
  }
}

/* fontawesome icons */
i {
  &.far,
  &.fas {
    @extend %no-cursor;
  }
}

sup {
  @extend %sup-fn-target;
}

main {
  line-height: 1.75;

  h1 {
    margin-top: 2rem;

    @include bp.lg {
      margin-top: 3rem;
    }
  }

  p {
    > a.popup {
      &:not(.normal):not(.left):not(.right) {
        @include mx.align-center;
      }
    }
  }

  .categories,
  #tags,
  #archives {
    a:not(:hover) {
      @extend %no-bottom-border;
    }
  }

  @include bp.lte(bp.get(sm)) {
    .content {
      > blockquote[class^='prompt-'] {
        @include mx.ml-mr(-1rem);

        border-radius: 0;
        max-width: none;
      }
    }
  }
}

.footnotes > ol {
  padding-left: 2rem;
  margin-top: 0.5rem;

  > li {
    &:not(:last-child) {
      margin-bottom: 0.3rem;
    }

    @extend %sup-fn-target;

    > p {
      margin-left: 0.25em;

      @include mx.mt-mb(0);
    }
  }
}

.footnote {
  @at-root a#{&} {
    @include mx.ml-mr(1px);
    @include mx.pl-pr(2px);

    border-bottom-style: none !important;
  }
}

.reversefootnote {
  @at-root a#{&} {
    font-size: 0.6rem;
    line-height: 1;
    position: relative;
    bottom: 0.25em;
    margin-left: 0.25em;
    border-bottom-style: none !important;
  }
}

/* --- Begin of Markdown table style --- */

/* it will be created by Liquid */
.table-wrapper {
  overflow-x: auto;
  margin-bottom: 1.5rem;

  > table {
    min-width: 100%;
    overflow-x: auto;
    border-spacing: 0;

    thead {
      border-bottom: solid 2px rgb(210 215 217 / 75%);

      th {
        @extend %table-cell;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid var(--tb-border-color);

        &:nth-child(2n) {
          background-color: var(--tb-even-bg);
        }

        &:nth-child(2n + 1) {
          background-color: var(--tb-odd-bg);
        }

        td {
          @extend %table-cell;
        }
      }
    } /* tbody */
  } /* table */
}